body{
margin: 0px;
padding: 0px;
}
nav{
    background-color: aquamarine;
    width: 10%;
    /* height: 100vh; */
}
#cont{
    list-style-type: none;
    /* background-color:blueviolet; */
    margin: 0;
    padding: 0;
}
a{
    color: darkmagenta;
    text-decoration: none;
    padding: 20px;
    display: block;
}
a:hover{
    background-color: pink;
    color: black;
}
/* below li dropdown */
/* #menu{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    background-color: coral;
    position: relative;
    display: none;
} */



/* right side dropdown */


#menu{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    background-color: coral;
    position: relative;
    display: none; 
    top: 10%;
    left: 100%;
}
#drop{
    position: relative;
} 

#drop:hover #menu{
    display: block;
}


#imenu{
    background-color: blueviolet;
    list-style-type: none;
    padding: 0;
    margin:0;
    position:absolute;
    top: 0;
    left:100%;
    display: none;
}

#idrop{
    position: relative;
}


#idrop:hover #imenu{
    display: block;
 }






